node_modules/
/test-results/
/tests/coverage-report
.local-browsers/
/.dev_profile*
.DS_Store
*.swp
*.pyc
/.vscode
.mono
.idea
yarn.lock
/packages/copilotbrowser-core/src/generated
/packages/copilotbrowser-ct-core/src/generated
packages/*/lib/
drivers/
.android-sdk/
.gradle/
nohup.out
.trace
.tmp
.copilotbrowser-cli
allure*
blob-report
copilotbrowser-report
test-results
/demo/
/packages/*/LICENSE
/packages/*/NOTICE
/packages/copilotbrowser/README.md
/packages/copilotbrowser-test/README.md
/packages/copilotbrowser-core/api.json
.env
/tests/installation/output/
/tests/installation/.registry.json
.cache/
.eslintcache
.tsbuildinfo
copilotbrowser.env
/firefox/
